---
import { Font } from "astro:assets";
type Props = {
    title: string;
    description?: string;
    imageUrl?: string;
    type?: "article" | "website";
};
const { title, description, imageUrl, type } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1" />

        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>

        <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
        <link rel="icon" href="/favicon.ico" sizes="48x48" />
        <link rel="icon" href="/favicon.svg" sizes="any" type="image/svg+xml" />
        <link rel="manifest" href="/site.webmanifest" />
        <meta property="og:title" content={title} />
        <meta property="twitter:title" content={title} />
        {
            description && (
                <meta name="description" content={description}>
                <meta property="og:description" content={description} />
                <meta property="twitter:description" content={description} />
            )
        }
        {imageUrl &&
            <meta property="og:image" content={imageUrl} />
            <meta property="twitter:image" content={imageUrl} />
        }
        <meta property="og:url" content={Astro.url.toString()} />
        <meta property="twitter:url" content={Astro.url.toString()} />
        <meta property="twitter:domain" content={Astro.url.origin.toString()}>
        <meta property="og:type" content={type || "article"} />
        <meta name="twitter:card" content="summary_large_image">
        <meta
            name="theme-color"
            content="#ef4444"
            media="(prefers-color-scheme: light)"
        />
        <meta
            name="theme-color"
            content="#ef4444"
            media="(prefers-color-scheme: dark)"
        />
        <Font cssVariable="--font-default" preload />
    </head>
    <body class="bg-gray-800 text-white">
        <slot />
    </body>
</html>

<style>
    html,
    body {
        margin: 0;
        width: 100%;
        height: 100%;
        font-family: var(--font-default);
    }

    @view-transition {
        navigation: auto;
    }
</style>
